li {
    padding: 10px;
    margin: 10px;
    background: #6ce6f7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 10px;
    margin: 10px;
    background: rgb(106, 207, 106);
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  